# -*- coding: utf-8 -*-
LOCAL_HOST = 'http://127.0.0.1:8080'
SINGLE_URL = LOCAL_HOST+'/prode/single/?url='
AMAZON_HOST = 'http://www.amazon.com'
AMAZON_URL = AMAZON_HOST+'/s?ie=UTF8&page={page}&rh=i:aps,k:{keywords}'
CURRENCY = '$￥£'
