from copy import deepcopy

LOCAL_HOST = 'http://127.0.0.1:8080'
SINGLE_URL = LOCAL_HOST+'/prode/single/?url={url}&source={source}'
AMAZON_HOST_US = 'http://www.amazon.com'
AMAZON_HOST_UK = 'http://www.amazon.co.uk'
AMAZON_URL_US = AMAZON_HOST_US+'/s?url=search-alias=aps&page={page}&rh=i:aps,k:{keywords},p_89:{brand}&sort={sort}'
AMAZON_URL_UK = AMAZON_HOST_UK+'/s?url=search-alias=aps&page={page}&rh=i:aps,k:{keywords},p_89:{brand}&sort={sort}'
AMAZON_INDEX_US = AMAZON_HOST_US+'/Best-Sellers-Electronics/zgbs/electronics/'
AMAZON_iMG_MIN_SIZE = '_SX38_SY50_CR,0,0,38,50_'
AMAZON_iMG_SMA_SIZE = '_AC_US160_'
AMAZON_iMG_MED_SIZE = '_SX425_'
AMAZON_iMG_SSS_SIZE = '_SL160_SL90_'
AMAZON_iMG_SMS_SIZE = '_SL160_SL150_'
CURRENCY = '$￥£'
REQUEST_TIMES = 5
STR_LEN = 100
PAGE_SIZE = 8

AMAZON_HEADERS = {
    "User-Agent": "Mozilla/5.0 (X11; Ubuntu; Linux i686; rv:43.0) Gecko/20100101 Firefox/43.0",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
    "Accept-Language": "en-US,en;q=0.5",
    "Accept-Encoding": "gzip, deflate",
    "Connection": "keep-alive",
}

AMAZON_HEADERS_US = deepcopy(AMAZON_HEADERS)
AMAZON_HEADERS_US['Host'] = 'www.amazon.com'
AMAZON_HEADERS_UK = deepcopy(AMAZON_HEADERS)
AMAZON_HEADERS_UK['Host'] = 'www.amazon.co.uk'
